//RESET
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  @include indents(0);
  border: 0;
  font: inherit;
  @include baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1em;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

//CLEARING
%clear {
  &:after, &:before {
    content: '\0020';
    display: block;
    @include dimensions(0);
    overflow: hidden;
    visibility: hidden;
  }
}

%clearBoth {
  clear: both;
}

.row, .clear, .clearfix {
  @extend %clear;
}

.clear:after, .clearfix:after, .row:after {
  @extend %clearBoth;
}

.clear, .clearfix, .row {
  zoom: 1;
}

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  @extend %clearBoth;
}

@import './../base/adminbar';

//WP CORE
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  @include centerBlock(5px);
}

.alignright {
  @include alignPosition(right, 5px 0 20px 20px);
}

.alignleft {
  @include alignPosition(left, 5px 20px 20px 0);
}

a img {
  &.alignright {
    @include alignPosition(right, 5px 0 20px 20px);
  }
  &.alignleft, &.alignnone {
    margin: 5px 20px 20px 0;
  }
  &.alignleft {
    float: left;
  }
  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption {
  max-width: 96%;
  padding: 5px 3px 10px;
  @include center;
  @include bc;
  border: 1px solid $white-2;
  &.alignleft, &.alignnone {
    margin: 5px 20px 20px 0;
  }
  &.alignright {
    margin: 5px 0 20px 20px;
  }
  img {
    max-width: 98.5%;
    border: 0;
    @include dimensions(auto);
    @include indents(0);
  }
  p.wp-caption-text {
    @include indents(0, 0 4px 5px);
    @include font-regular(11px, 17px);
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  @include dimensions(1);
  overflow: hidden;
  &:focus {
    display: block;
    @include relative($t: 5px, $l: 5px);
    @include dimensions(auto);
    padding: 15px 23px 14px;
    @include font-bold(14px, normal);
    color: $blue-1;
    text-decoration: none;
    @include bc($white-1);
    @include radius;
    @include shadow(0 0 2px 2px rgba(0, 0, 0, 0.6));
    clip: auto !important;
    z-index: 100000;
  }
}

//BASIC
* {
  @include box-sizing;
}

html {
  position: relative;
  min-width: 320px;
}

body {
  position: relative;
  font-family: $font-stack;
  @include font-regular(16px, 1.5);
  color: $text-color;
  @include bc($main-white-bg);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
  &.float-left {
    margin: 0 40px 30px 0;
  }
  &.float-right {
    margin: 0 0 30px 40px;
  }
}

//TYPOGRAPHY
%base-font {
  font-family: $main-font;
  font-weight: $font-weight-regular;
  color: $text-color;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  @extend %base-font;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: inherit;
}

h1 {
  @include font-light(54px, 60px);
}

h2 {
  @include font-regular(30px, 45px);
}

h3 {
  @include font-regular(22px, 30px);
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

a {
  font-weight: inherit;
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $skiey;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: $font-weight-medium;
}

pre {
  @include indents(30px 0, 1em);
  font-family: $pre-font;
  color: $white;
  @include bc($dark-blue);
  @include radius(6px);
  overflow: auto;
}

.small {
  font-size: 80%;
}

.center {
  @include center;
}

hr {
  display: block;
  @include dimensions(60px, 2px);
  margin: 20px 0;
  @include bc($light-d-grey);
  border: 0;
  @extend %clearBoth;
}

form {
  @include indents(0);
}

input {
  outline: 0;
  &[type="text"], &[type="email"] {
    @include radius;
    margin: 0;
  }
  &[type=text]:focus, &[type=email]:focus {
    border-color: $light-c-grey;
    outline: 0;
  }
}

textarea {
  width: 100%;
  margin: 0;
  @include radius;
  &:focus {
    border-color: $light-c-grey;
    outline: 0;
  }
}

label {
  display: block;
}

::-webkit-input-placeholder {
  color: $blue-grey;
  opacity: 1;
}

:-moz-placeholder {
  color: $blue-grey;
  opacity: 1;
}

::-moz-placeholder {
  color: $blue-grey;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $blue-grey;
  opacity: 1;
}

//BUTTONS
.button {
  @include ease-transition(.3s);
  outline: 0;
  border: 0;
  &:active {
    @include duration(.1s);
    -webkit-transform: translateY(1.5px) scale(.99);
    -moz-transform: translateY(1.5px) scale(.99);
    -ms-transform: translateY(1.5px) scale(.99);
    -o-transform: translateY(1.5px) scale(.99);
    transform: translateY(1.5px) scale(.99);
  }
  &:hover{
    cursor: pointer;
  }
  &:disabled{
    opacity: 0.5;
    cursor: default !important;
  }
}

%btn {
  display: inline-block;
  text-transform: uppercase;
  @include radius;
}

.sm-filled-blue {
  @extend %btn;
  @include button-sm($btn-bg-blue);
  &:hover {
    @include hover-button($btn-bg-skiey);
  }
}

.sm-filled-trans {
  @extend %btn;
  @include button-sm($btn-bg-black);
  &:hover {
    @include hover-button($btn-bg-black-1);
  }
}

.sm-ghost-blue {
  @extend %btn;
  @include button(7px 15px, 13px, 15px, $blue, transparent);
  border: 1px solid $blue;
  &:hover {
    color: $btn-bg-skiey;
    border-color: $btn-bg-skiey;
  }
}

.bg-filled {
  @extend %btn;
  @include button-bg(transparent, $btn-color-b);
  border: 2px solid $white-grey;
}

.bg-filled-blue {
  @extend %btn;
  @include button-bg($btn-bg-blue, $btn-color-w);
  &:hover {
    @include hover-button($btn-bg-skiey);
  }
  &:disabled{
    &:hover {
      background-color: $btn-bg-blue;
    }
  }
}

.bg-filled-orange {
  @extend %btn;
  @include button-bg($btn-color-o, $btn-color-w);
  &:hover {
    @include hover-button($btn-color-h-o);
  }
  &:disabled{
    &:hover {
      background-color: $btn-color-o;
    }
  }
}

.bg-filled-white {
  @extend %btn;
  @include button-bg($btn-color-w, $btn-color-b);
  @include shadow(0 1px 2px 0 rgba(52, 77, 97, 0.15));
  &:hover {
    @include hover-button($btn-color-w, $btn-bg-blue);
  }
  &:disabled{
    &:hover {
      background-color: $btn-color-w;
    }
  }
}

.bg-filled-green{
  @extend %btn;
  @include button-bg($lime1, $btn-color-w);
  white-space: nowrap;
  &:hover {
    @include hover-button($lime2);
  }
  &:disabled{
    &:hover {
      background-color: $lime1;
    }
  }
}

.bg-ghost {
  @extend %btn;
  height: 45px;
  @include button(0 40px, 15px, 45px, $ghost, transparent);
  border: 2px solid $white-grey;
}

.popup-close {
  @include absolute($t: 0, $r: 0);
  @include dimensions(45px);
  margin: 0;
  @include font-regular(20px, 45px);
  color: $pale-grey-1;
  @include center;
  background-color: $white-4;
  border: none;
  @include radius(0 6px 0 6px);
  cursor: pointer;
  &:hover {
    color: $scarlet;
  }
}

.transition01 {
  @include linear-transition(.1s);
}

.transition {
  @include linear-transition(.3s);
}

.hover-light:hover {
  @include shadow(0 7.5px 7.5px 0 rgba(0, 0, 0, 0.05) !important);
  @include translateY(-2px);
}

.hover-bold:hover {
  @include shadow(0 20px 30px 0 rgba(0, 0, 0, 0.22) !important);
  @include translateY(-2px);
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 600px;
  @include centerBlock;
  padding-top: 76px;
}

.container {
  position: relative;
  width: 1260px;
  @include indents(0 auto, 0 15px);
}

body .popup {
  display: none;
  @include fixed(0, 0, 0, 0);
  @include dimensions(100%);
  background: rgba(28, 39, 57, 0.9);
  z-index: 999;
  &.show {
    display: block;
  }
}

//GET IN TOUCH
.get-in-touch {
  padding: 90px 0;
  //@include bc;
  .button-wrap {
    padding: 60px 0;
    @include center;
    background: url("../images/get-in-touch-t.jpg") no-repeat;
    background-size: cover;
    @include radius(6px);
    @include shadow(0 20px 40px 0 rgba(34, 130, 210, 0.40));
  }
  p {
    margin-bottom: 30px;
    @include font-regular(30px, 45px);
    color: $white;
    @include center;
  }
}

.popup-close {
  @include absolute($r:0, $t:0);
  @include dimensions(45px);
  margin: 0;
  @include font-regular(20px, 45px);
  color: $pale-grey-1;
  @include center;
  @include bc($white-4);
  border: none;
  @include radius(0 6px 0 6px);
  cursor: pointer;
  &:hover {
    color: $scarlet;
  }
}

//PRELOADER
.dr-loader {
  display: inline-block;
  align-self: center;
  position: relative;
  perspective: 100px;
  @include dimensions(35px);
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  @include dimensions(36px);
  animation: loader 1s infinite ease-out;
  transform-style: preserve-3d;
}

.loader-inner {
  @include absolute($l: 50%, $b: 15px);
  z-index: -1;
  width: 28px;
  background-color: $pale-grey-2;
  @include radius;
  @include translate(-50%);
  animation: loader-inner 1s infinite ease-in;
}

@keyframes loader {
  0% {
    @include rotateY(0.1deg);
  }

  25% {
    @include rotate(0.1deg);
  }

  50% {
    @include rotate(0.1deg);
  }

  75% {
    @include rotateY(180deg);
  }

  100% {
    @include rotateY(180deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0.1px;
    opacity: 1;
  }

  25% {
    height: 21px;
    opacity: 1;
  }

  50% {
    height: 21px;
    opacity: 1;
  }

  75% {
    height: 21px;
    opacity: 0;
  }

  100% {
    height: 0.1px;
    opacity: 0;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .container {
    width: 1080px;
  }
  .popup-close {
    @include dimensions(30px);
    line-height: 30px;
  }
}

@media only screen and (max-width: 1279px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 1024px;
    @include indents(0 auto, 0 15px);
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper {
    padding-top: 0 !important;
  }
  .pagination {
    margin-bottom: 60px;
  }
  .thumbnail {
    @include center;
  }

  .get-in-touch p {
    max-width: 75%;
    margin: 0 auto 30px;
  }
  #category-newsletter {
    padding: 60px 40px;
    border-radius: 0;
    .widgettitle {
      margin: 0 auto 20px;
      font-size: 30px;
      @include center;
    }
  }
}

@media only screen and (max-width: 719px) {
  .get-in-touch {
    .container {
      padding: 0;
      .button-wrap {
        border-radius: 0;
      }
      p {
        padding: 0 15px;
        margin-bottom: 30px;
        @include font-regular(22px, 30px);
        color: $white;
        @include center;
      }
    }
  }
  .tab.overview p {
    padding: 0 20px;
  }
  body .popup {
    //position: relative;
    background: $main-white-bg;
    overflow-y: auto;
  }
  .popup-close {
    display: block;
    @include relative($t: 0, $r: 0);
    @include dimensions(32px);
    @include indents(30px auto, 0);
    color: $blue-grey-e;
    line-height: 28px;
    @include center;
    @include bc(transparent);
    border: 2px solid $blue-grey-e;
    @include radius(50%);
    opacity: 0.3;
    z-index: 999;
  }
  #category-newsletter {
    padding: 30px 15px;
    .newsletter-form {
      margin: 0 15px;
    }
  }
  .news-filter {
    position: relative;
    @include bc;
    @include radius;
    @include shadow(0 1px 1px 0 $white-grey);
  }
}
