.contact-us {
  .top-block {
    padding: 60px 0 90px;
  }
  h1 {
    margin: 0 auto 10px;
    @include font-light(42px, 60px);
    color: $white;
    @include center;
  }
  .banner-content > p {
    display: block;
    margin: 0 auto 60px;
    @include font-regular(20px, 30px);
    color: rgba(186, 197, 206, 0.7);
    @include center;
  }
}

.banner-buttons {
  @include flex(center);
  .item {
    width: 330px;
    @include indents(0 15px, 30px);
    @include center;
    border: 2px solid $text-color;
    @include radius(6px);
    cursor: pointer;
    &.demo {
      @include bc;
      border-color: $white;
    }
    &:hover {
      border-color: $white;
      @include shadow((0 20px 50px 0 rgba(0, 0, 0, 0.18), 0 20px 24px 0 rgba(0, 0, 0, 0.22)));
    }
    .image-wrap {
      height: 100px;
      line-height: 100px;
      img {
        @include middle;
      }
    }
    h2 {
      @include centerBlock(15px);
      @include font-regular(22px, 30px);
      color: $white;
    }
    &.demo h2 {
      color: #465275;
    }
    p {
      margin-bottom: 30px;
      @include font-regular(15px, 30px);
      color: $blue-grey-e;
    }
    a {
      display: block;
    }
  }
}

section.contact-us .page-content {
  padding: 75px 0 90px;
}

.headquarters {
  margin-bottom: 60px;
  @include center;
  h2 {
    margin-bottom: 10px;
    @include font-light(42px, 60px);
  }
  p {
    margin-bottom: 10px;
    @include font-light(20px, 30px);
    color: $blue-grey-e;
  }
  a {
    @include font-regular(15px, 30px);
  }
}

.regions {
  @include flex(space-between);
  .item {
    width: 285px;
    padding: 30px;
    @include center;
    @include bc;
    @include radius(8px);
    @include shadow(0 0 4px 0 rgba(0, 0, 0, 0.05));
    h3 {
      margin-bottom: 30px;
    }
    ul li {
      margin-bottom: 20px;
      line-height: 30px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      span {
        @include font-regular($fs:17px);
        color: $text-color;
      }
      a {
        @include font-regular($fs:17px);
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .banner-buttons .item span {
    padding: 15px 30px;
    font-size: 12px;
  }
  .regions .item {
    width: 23%;
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 1023px) {
  .contact-us .top-block {
    padding: 60px 0;
  }
  .banner-buttons {
    @include flex(center);
    flex-flow: row wrap;
    .item {
      width: 200px;
      padding: 30px 15px;
    }
  }
  .regions {
    @include flex(center);
    flex-flow: row wrap;
    .item {
      width: 310px;
      @include indents(30px 15px);
    }
  }
}

@media only screen and (max-width: 719px) {
  .contact-us .banner-content > p {
    margin: 0 auto 30px;
  }
  .banner-buttons .item {
    width: 290px;
    margin: 0 10px 15px;
  }
  .regions .item {
    width: 290px;
    @include indents(0 0 15px, 30px 15px);
  }
  .headquarters .bg-filled-blue{
    padding: 10px 40px;
  }
}
