.block-check-list {
  ul {
    @include min(768){
      columns: 2;
    }
    li {
      margin-bottom: 15px;
      position: relative;
      padding-left: 30px;
      @include max(1024){
        line-height: 24px;
      }
      .icon-check {
        color: #25b674;
        font-size: 24px;
        line-height: 32px;
        vertical-align: bottom;
        position: absolute;
        left: -4px;
      }

    }
  }

}